.SideBar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  text-align: center;
  position: fixed;
  right: 5%;
  top: 60px;
  background-color: color(background, base);
  border-radius: 7px;
  gap:0;
}

/* Border styles for open state */
.SideBar.sidebar-open {
  border: 2px solid white;
}

/* No border styles when closed */
.SideBar.sidebar-closed {
  border: none;
}

.navButton,
.active {
  display:flex;
  align-items: stretch;
  justify-content:center;
  width: 100%;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: color(light, base);
  cursor: pointer;
  border-color: #2351d1;
  &:hover {
    
    color: rgba(154, 180, 251);
  }
  
  &:focus-visible {
    outline: 2px solid color(light, base);
    outline-offset: 2px;
  }
}

.active {
  color: whitesmoke;
  background-color: #123458;
  border-radius: 7px;
  
  

}