.SideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 30vh;
  position: fixed;
  right: 5%;
  top: 60px;
  background-color: color(background, base);
  border-radius: 10px;
}

/* Border styles for open state */
.SideBar.sidebar-open {
  border: 2px solid white;
}

/* No border styles when closed */
.SideBar.sidebar-closed {
  border: none;
}

.navButton,
.active {
  color: color(light, base);
  cursor: pointer;
  border-color: #2351d1;
  &:hover {
    border-bottom: 4px solid white;
    color: rgba(154, 180, 251);
  }
  
  &:focus-visible {
    outline: 2px solid color(light, base);
    outline-offset: 2px;
  }
}

.active {
  color: whitesmoke;
  font-weight: 1000;
  border-bottom: 4px solid white;
}

