:root {
	--d: 5000ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: rgb(239, 105, 38);
	--c2: rgba(50, 62, 73, 0.1);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  max-width: 85%;
  height: 80%;
  background-color: hsl(0, 0%, 17%);
  border-radius: 5px;
}

.popupInner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(3, 13, 18);
  border: 2px solid rgb(3, 80, 143);
  box-shadow: 1px 1px 5px rgb(2, 108, 194);
  border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

.popuptitle {
  padding-bottom: 10px;
  font-size: 45px;
  color: rgb(0, 208, 255);
  &:hover {
    text-shadow: 0 5px 10px rgba(0, 157, 255, 0.422);
  }
  @media screen and (max-width: 768px) {
    font-size: 35px; 
  }
}

.popup-inner::-webkit-scrollbar {
  background-color: rgb(4, 104, 244);
}

.header {
  position: sticky;
  top: 0;
  background-color: rgb(9, 27, 47);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 1;
}

.popupInner .closeBtn {
  position: absolute;
  top: 3%;
  right: 3%;
  font-family: sans-serif, 'Cabin';
  font-size: 40px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: lightgray;
  border-radius: 5px;
  transition: opacity 0.2s ease-out;

  &:hover {
    cursor: pointer;
    opacity: 1;
    text-shadow: 1px 1px 5px white;
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  gap: 1px;
}

.activeButton,
.inactiveButton,
.chosenButton {
  flex-grow: 1;
  background-color: #2351d1;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 30px;
}

.activeButton:hover {
  box-shadow: 1px 1px 10px #2351d1;
  background-color: #9ab4fbc7;
}

.inactiveButton {
  background-color: #333335;
}

.chosenButton {
  background-color: rgb(255, 89, 0);

  &:hover {
    box-shadow: 1px 1px 10px rgb(255, 89, 0);
    background-color: rgb(223, 143, 100);
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}
.graphContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  margin: 5px 0;
}

.lineCanvas {
  width: 83vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}