/node_modules
backend/node_modules
yarn.lock
ui/node_modules/*
!ui/node_modules/@docker

.history
.gitignore
.DS_Store

src/database/docketeerdb
server/database/docketeerdb
dist/
.env
/imageConfigs/grafana/data
/imageConfigs/prometheus/promData
/imageConfigs/postgres/docketeerdb

coverage/

out/
docketeerdb
imageConfigs/grafana/data/
imageConfigs/grafana/data/grafana.db
ui/build
