.wrapper {
  display: flex;
  flex-direction: column;
  margin: $default-page-margin;
  height: 100%;
}

 .iframeHeader {
    display: flex;
    // margin-top: 10px;
  }

.iframeDiv {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.kubernetesTitle {
  text-align: left;
  color: white;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  margin-left: 10px;
}
.button {
  background-color: #212121;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 4px;
  outline: none;
  margin-left: 1rem;
  box-shadow: 1px 1px 10px #9ab4fbc7;
}

.button:hover {
  background-color: #9ab4fbc7;
  // box-shadow: 0 12px 16px 0 rgba(243, 8, 8, 0.24),
  //   0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.metrics {
  width: 100vw;
  height: calc(100vh - (60px + 6rem));
  min-height: 20rem;
  border: 0px;
}

