@import "../../_variables";
.wrapper {
  display: flex;
  flex-direction: column;
  margin: $default-page-margin;
  height: 100%;
}

 .iframeHeader {
    display: flex;
    // margin-top: 10px;
  }

.iframeDiv {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  backdrop-filter: blur(4px);
}
.kubernetesTitle {
  text-align: left;
  color: white;

   @media screen and (max-width: $breakpoint-lg),
  (max-width: $breakpoint-md),
  (max-width: $breakpoint-sm) {
    margin-top: 50px; 
  }
}

.buttonDiv {
  display: flex;
  justify-content: center;
  margin-left: 10px;
}
.button {
  background-color: #2351d1;
  text-shadow: 1px 1px 2px #2351d1;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 4px;
  outline: none;
  margin-left: 1rem;
  box-shadow: 1px 1px 10px #2d58cdc7;
  backdrop-filter: blur(4px);
  &:hover {
    background-color: #9ab4fbc7;
  }
  @media screen and (max-width: $breakpoint-lg),
  (max-width: $breakpoint-md),
  (max-width: $breakpoint-sm) {
    margin-top: 50px; 
  }
}


.metrics {
  width: 100vw;
  height: calc(100vh - (60px + 6rem));
  min-height: 20rem;
  border: 0px;
}

