.wrapper {
  position: fixed;
  // min-width: 50vw;
  width: 500px;
  min-height: 300px;
  z-index: 100000;
  // display: flex;
  // justify-content: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.svg {
  position: absolute;
  top: 2rem;
  left: 1rem;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  stroke: currentColor;
}

.buttonHolder {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  button {
    margin-right: 1rem;
  }
}

.info,
.success,
.warning,
.error,
.general {
  border-width: 2px;
  border-style: solid;
  border-color: scale-color(color(light, base), $alpha: -6%);
  background-color: rgb(9, 27, 47);

  text-align: center;
  padding: 1rem;
  min-width: 100%;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
  // box-shadow: 2px, 2px 4px color(background, darkest);
  p {
    margin: 0 2rem;
  }
}


.success {
  svg {
    color: scale-color(color(green, base), $lightness: -40%);
  }
}

.warning {
  svg {
    color: color(yellow, base);
  }
}

.error {
  svg {
    color: color(red, base);
  }
}

.general {
  svg {
    color: color(background, dark);
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .wrapper {
    left: calc(50%);
    width: 50%;
  }
}
