.dropDown {
  height: 100px;
  background-color: hsl(0, 0%, 17%);
  color: whitesmoke;
  width: 98%;
  height: 75%;
  border: rgb(1, 54, 115);
  border-radius: 5px;
  margin: 5px;
  box-shadow: 2px 2px 5px 2px black;
  padding: 5px;
  cursor: pointer;
}

.learnMore {
  text-align: center;
  text-decoration: underline;
  color: rgb(128, 149, 241);
}