
.snapshotContent{
  width: max-content;
}

.snapshotWrapper {
  display: flex;
  justify-content: space-around;
  margin: $default-page-margin;
  height: 100%;

  h2 {
    margin-bottom: 8px;
  }
  .iframeHeader {
    display: flex;
    align-items: end;
    margin-bottom: 1rem;
  }

   @media screen and (max-width: $breakpoint-lg),
  (max-width: $breakpoint-md),
  (max-width: $breakpoint-sm) {
    margin-top: 80px; 
  }
}

.metrics {
  width: 500px;
  height: calc(100vh - (60px + 6rem));
  min-height: 20rem;
  border: 0px;
}

.dateAndSnapshot {
  display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 15px;
  // flex-direction: column;
  // height: 20px;
}

.dateInput {
  background-color:black;
  color: white;
	margin-left: 10px;
	width: 120px;
}

.iframeDiv {
  backdrop-filter: blur(4px);
}

@media screen and (max-width: $breakpoint-lg) {
  .snapshotWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}