$navbar-transition: transform 0.3s ease-in-out;

.navBar {
  // setting the animation for page resize
  transition: $navbar-transition;
  transform: translateY($navbar-height);
  top: -$navbar-height;
  background-color: color(background, base);
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 9999;
  left: 0%;
  right: 0%;
  // padding: 0 0rem;
  height: $navbar-height;
  width: $navbar-width;
}

// HAMBURGER ICON STYLING ------------

.hamburgerIcon {
  align-self: right;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-evenly;
}

// .bar {
//   width: 30px;
//   height: 5px;
//   background-color: white;
//   border-radius: 2px;
// }
// -----------------------------------

.navSpacer {
  height: $navbar-height;
  align-self: center;
  display: flex;
  justify-content: space-evenly; /* or justify-content: space-around; */

  ul {
    display: flex;
    align-items: center;
    text-align: center;
  }

  li {
    list-style: none;
    padding: 0.5rem 0rem;
    // margin-right: 5rem;
    margin-right: 2rem;
    margin-left: 2rem;
    align-items: center;
  }

  a,
  span {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    height: 100%;
  }
}

.navButton,
.active {
  color: color(light, base);
  cursor: pointer;
  border-color: color(background, darkest);
  &:hover {
    border-bottom: 4px solid color(background, darkest);
  }
  &:focus-visible {
    outline: 2px solid color(light, base);
    outline-offset: 2px;
  }
}

.active {
  font-weight: 600;
}

@media screen and (min-width: $breakpoint-uw) {
  .navBar {
    padding: 0;
  }
  .navButton {
    text-align: center;
  }
  .navSpacer {
    max-width: $breakpoint-uw;
    margin: 0 auto;
    padding: 0 2rem;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .logo {
    display: none;
  }
  .navButton {
    text-align: center;
  }
  .navBar {
    padding: 0px;
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .logo {
    display: none;
  }
  .navButton {
    text-align: center;
  }
  .navBar {
    padding: 0px;
  }
}
