$navbar-transition: transform 0.3s ease-in-out;

.navBar {
  // setting the animation for page resize
  transition: $navbar-transition;
  transform: translateY($navbar-height);
  top: -$navbar-height;
  background-color: #123458;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9999;
  left: 0%;
  right: 0%;
  padding: 0 0rem;
  height: $navbar-height;
  width: $navbar-width;
}

.logoDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    // margin-left: 50px;
    h1 {
      font-size: 3.5vh;
    }
}

.logo {
   margin: 10px;
  }
// HAMBURGER ICON STYLING ------------

.hamburgerIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  margin-right: 110px;
  transition: all 0.2s ease-in-out;
  &:hover {

    border-radius: 5px;
    background-color:#13467c;
    color: rgba(154, 180, 251);
  }

  &:focus-visible {
    outline: 2px solid color(light, base);
    outline-offset: 2px;
  }
}

// -----------------------------------

.navSpacer {
  height: $navbar-height;
  display: flex;

  ul {
    display: flex;
    align-items: center;
    text-align: center;
  }

  li {
    list-style: none;
    padding: 0.5rem 0rem;
    margin-right: 2rem;
    align-items: center;
  }

  a,
  span {
    text-decoration: none;
    // color: white;
    font-size: 1rem;
    height: 100%;
    padding: 0.5rem 1rem; // Add spacing inside the highlight

      &:hover {
      cursor: pointer;
      background-color:#123458;
      color: rgb(255, 255, 255);
      padding: 0.5rem 1rem; // Add spacing inside the highlight
      border-radius: 5px; // Optional: Add rounded corners for better visuals
    }
  }
}

.navButton,
.active {
  color: color(light, base);
  padding: 0.5rem 1rem; // Add spacing inside the highlight
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  // border-color: #2351d1;
  &:hover {
    border-radius: 10px;
    background-color: #13467c;
    color: rgba(154, 180, 251);
  }

  &:focus-visible {
    outline: 2px solid color(light, base);
    outline-offset: 2px;
  }
}

.active {
  color: whitesmoke;
  font-weight: 1000;

}

@media screen and (min-width: $breakpoint-uw) {
  .navBar {
    padding: 0;
  }
  .navButton {
    text-align: center;
  }
  .navSpacer {
    max-width: $breakpoint-uw;
  }
}

.switch {
  position: absolute;
  left: 47.5%;
}