$navbar-transition: transform 0.3s ease-in-out;

.navBar {
  // setting the animation for page resize
  transition: $navbar-transition;
  transform: translateY($navbar-height);
  top: -$navbar-height;
  // background-color: color(background, base);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 50px 0px 50px;
  position: fixed;
  z-index: 9999;
  left: 0%;
  right: 0%;
  // padding: 0 0rem;
  height: $navbar-height;
  width: $navbar-width;
}

.logoDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    // margin-left: 50px;
    h1 {
      font-size: 3.5vh;
    }
}

.logo {
   margin: 10px;
  }
// HAMBURGER ICON STYLING ------------

.hamburgerIcon {
  // align-self: right;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  margin-right: 110px;
}



// .bar {
//   width: 30px;
//   height: 5px;
//   background-color: white;
//   border-radius: 2px;
// }
// -----------------------------------

.navSpacer {
  height: $navbar-height;
  // align-self: center;
  display: flex;
  // justify-content: space-evenly; /* or justify-content: space-around; */

  ul {
    display: flex;
    align-items: center;
    text-align: center;
  }

  li {
    list-style: none;
    padding: 0.5rem 0rem;
    margin-right: 2rem;
    // margin-left: 1rem;
    align-items: center;
  }

  a,
  span {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    height: 100%;

      &:hover {
      cursor: pointer;
      color: rgba(154, 180, 251);
    }
  }
}

.navButton,
.active {
  color: color(light, base);
  cursor: pointer;
  border-color: color(background, darkest);
  &:hover {
    border-bottom: 4px solid color(background, darkest);
    cursor: pointer;
    color: rgba(154, 180, 251);
  }
  
  &:focus-visible {
    outline: 2px solid color(light, base);
    outline-offset: 2px;
  }
}

.active {
  font-weight: 600;
}

@media screen and (min-width: $breakpoint-uw) {
  .navBar {
    padding: 0;
  }
  .navButton {
    text-align: center;
  }
  .navSpacer {
    max-width: $breakpoint-uw;
  }
}

