@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Open+Sans&display=swap');
// VARIABLES
$criticalColor: rgb(255, 8, 0);
$highColor: #AD312D;
$medColor: #AE5944;
$lowColor: #D99166;
$negligible: #81876096;
$grayColor: #59595996;
$greenColor: #326b3096;

.imageCard, .imageCardCrit, .imageCardHigh, .imageCardMed, .imageCardLow, .imageCardDone  {
	border: 1px solid rgba(255, 255, 255, 0.629);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.256);
  height: max-content;
	margin: 10px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
  align-items: flex-start;
  width: 48%;
}

.imageCardCrit {
  border: 1px solid $criticalColor;
  box-shadow: 1px 1px 2px $criticalColor;
  &:hover {
    box-shadow: 1px 1px 10px $criticalColor;
  }
}
.imageCardHigh {
  border: 1px solid $highColor;
  box-shadow: 1px 1px 2px $highColor;
  &:hover {
    box-shadow: 1px 1px 10px $highColor;
  }
}
.imageCardMed {
  border: 1px solid $medColor;
  box-shadow: 1px 1px 2px $medColor;
  &:hover {
    box-shadow: 1px 1px 10px $medColor;
  }
}
.imageCardLow  {
  border: 1px solid $lowColor;
  box-shadow: 1px 1px 2px $lowColor;
  &:hover {
    box-shadow: 1px 1px 10px $lowColor;
  }
}

.imageCardDone {
  box-shadow: 1px 1px 2px whitesmoke;
  &:hover {
    box-shadow: 1px 1px 20px whitesmoke;
  }
}

.ImageName {
  font-weight: bold;
}

.ImageTag {
  font-size: medium;
  color: rgba(255, 255, 255, 0.715);
}

.buttons {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: center;
  cursor: pointer;
}

.VulnerabilitiesBlock {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.imageInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: max-content;
  align-items: left;
}

.imageVulnerabilities {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.imgVulDiv{
  height: max-content;
  width: 85px;
  display: flex;
}

.imgCardButton, .imgLoading{
  box-shadow: 2px 2px 5px 2px rgb(25, 25, 25);
  height: 36px;
  width: 36px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  &:hover,
  &:active {
    background-color: #3d4243c7;
    border-radius: 5px;
  }

  &:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 4px scale-color(color(blue, dark), $lightness: -40%);
  }

  &--small {
    font-size: 1.15rem;
  }
}

.imgLoading {
   filter: grayscale(100%);
}

.critical, .high, .medium, .low, .grayOut, .green, .negligible, .unknown  {
  background-color: $criticalColor;
  margin: 2px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 1px black;
  width: 100%;
  font-weight: 700;
  cursor: pointer;
}

.critical:hover, .high:hover, .medium:hover, .low:hover, .negligible:hover , .grayOut:hover, .green:hover, .unknown {
  filter: brightness(1.3);
}

.grayOut:hover {
  color: whitesmoke;
}

.high {
  background-color: $highColor;
}

.medium {
  background-color: $medColor;
}

.low {
  background-color: $lowColor;
}

.negligible {
  background-color: $negligible;
}

.unknown {
  background-color: $grayColor;
}

.grayOut {
  background-color: $grayColor;
  color: rgba(255, 255, 255, 0.486);
}

.green{
  background-color: $greenColor;
}

.vulNum {
  margin-right: 5px;
}
@media screen and (max-width: $breakpoint-md) {
  .imageCard {
    width: 100%
  }
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  color: white;
}

.dropdownIcon {
  margin: 10px 0 0 10px;
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 10;
}

.modalContainer {
  z-index: 20;
}