@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // font-family: 'Roboto';
  margin: $default-page-margin;
  transition: margin-left .5s;
  .listHolder {
      display: flex;
      flex-direction: column;
    }
}

.containersTitle {
  margin-bottom: 10px;
}

.topMargin{
  // wrapper default margin doesn't push the top margin enough
  // this is an extra div to add top margin to better match other pages
  margin-top: 30px;
}

iframe {
  border-radius: 10px;
}

.listHolder {
  display: flex;
  flex-direction: column;
}
.listHolderStopped {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.listHolderStopped h2 {
  margin-bottom:5px;
}
.listHolder h2 {
  margin-bottom: 5px;
}

.count {
  margin-bottom: 1rem;
}

.containerList {
  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(480px, 1fr);
  transform: all 0.5s ease-in-out;
  width: 100%;
}


.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-color: #e3e6e8;
  border: 2px;
  border-radius: 2px;
  height: 50px;
  margin-bottom: 5px;
  padding-top: 18px;
  margin-left: 10px;
}

.toggle {
  display: grid;
  grid-template-columns: .9fr .1fr;
  // margin-left: 5px;
  gap: 10px;
  margin-bottom: 30px;
}

.active {
  background-color: #272e35;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  border-radius: 10px;
}
.notActive {
  color: white;
}

@media screen and (max-width: $breakpoint-lg) {
  .wrapper {
    display: flex;
    flex-direction: column;
    margin: $default-page-margin;
    // margin-top: 70px;
  }
  .containerList {
    grid-template-columns: minmax(480px, 1fr);
    transform: all 0.2s ease-in-out;
  }
  
}

@media screen and (max-width: $breakpoint-md) {
  .containerList {
    grid-template-columns: minmax(480px, 1fr);
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .containerList {
    grid-template-columns: minmax(480px, 1fr);
  }
}