// @import url(‘https://fonts.googleapis.com/css2?family=Prompt:wght@400;500&display=swap’);
// @import url(‘https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap’);

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Open+Sans&family=Prompt&display=swap');


* {
  font-family: 'Prompt', sans-serif !important;
  color: white;
}

h1 {
  font-size: 30px !important;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.input {
  height: 2.5rem;
  // align-self: start;
  border: none;
  border-radius: 5px;
  // padding: 0 1rem;
  // margin-bottom: 1rem;
  font-size: 1rem;
  color: black;
  background-color: color(light, light-gray);
  box-shadow: $shadow;

  &Short {
    @extend .input;
    height: 1.25rem;
  }
}

.duplicatedInput {
  @keyframes shake {
    0% {
      margin-left: 0rem;
    }
    25% {
      margin-left: 0.5rem;
    }
    75% {
      margin-left: -0.5rem;
    }
    100% {
      margin-left: 0rem;
    }
  }

  animation: shake 0.2s ease-in-out 0s 1;
  box-shadow: 0 0 0.8rem tan;
  @extend .input;

  &Short {
    @extend .input;
    height: 1.25rem;
  }
}

.radioForm {
  width: 100%;
  display: flex;
  // align-items: start;
  justify-content: center;
  padding: 0.25rem 0rem;
  border-radius: 0.25rem;
  overflow-y: scroll;
  max-height: 15vh;

  // justify-content: space-around;
  &[type='radio'] {
    display: grid;
    place-content: center;
  }

  label {
    margin-right: 1rem;
  }
}

.button1,
.button2,
.buttonSmall,
.buttonBase {
  color: white;
  font-weight: 600;
  align-self: start;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  border-radius: 5px;
  padding: 0.25em 0.75em;
  min-width: 10ch;
  text-align: center;
  line-height: 1.1;
  backdrop-filter: blur(4px);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  // box-shadow: 1px 1px 10px #9ab4fbc7;
}

.button1 {
  min-height: 44px;
  background-color: #2351d1;
  text-shadow: 1px 1px 2px #2351d1;

  &:hover,
  &:active {
    box-shadow: 1px 1px 10px #2351d1;
  }

  &:focus {
    outline-style: solid;
    outline-color: transparent;
    // box-shadow: 0 0 0 4px scale-color(color(blue, dark), $lightness: -40%);
  }

  &--small {
    font-size: 1.15rem;
  }
}

.button2 {
  min-height: 44px;
  background-color:rgba(66, 76, 85, 0.258);

  &:hover,
  &:active {
    box-shadow: 1px 1px 10px rgba(189, 185, 185, 0.2);
  }

  &:focus {
    outline-color: transparent;
  }

  &--small {
    font-size: 1.15rem;
  }
}

.disabledButton {
  opacity: 0.5;
  cursor: not-allowed;
}

.duplicatedButton1 {
  @extend .buttonBase;
  height: 44px;
  background-color: gray;
  color: white;
  cursor: auto;
}

.buttonSmall {
  min-height: 2rem;
  background-color: color(background, darkest);
  padding: 0.25rem;
  font-size: 0.75rem;
  cursor: pointer;
  // outline-color: scale-color(color(background, darkest), $lightness: 0%);

  &:hover,
  &:active {
    // background-color: scale-color(color(background, darkest), $lightness: 5%);
    background-color: scale-color(color(background, darkest), $lightness: 5%);
    outline-style: solid;
    outline-width: 1px;
    // outline-color: scale-color(color(background, darkest), $lightness: -5%);
  }

  &:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 4px scale-color(color(blue, dark), $lightness: -40%);
  }

  &--small {
    font-size: 1.15rem;
  }
}

.buttonUsers {
  @extend .buttonBase;
  // min-height: 2rem;
  background: none;
  padding: 0.25rem;
  font-size: 0.75rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  // border: 1px solid color(light, base);
  font-size: 0.9rem;

  thead {
    position: sticky;
    top: 0;
    // background-color: color(light, base);

    th {
      text-align: left;
      // color: color(background, dark);
      padding: 0.5rem;
      white-space: nowrap;
      padding-right: 1rem;
    }
  }

  tr:nth-child(even) {
    display: inline-block;
    // td:nth-child(even) {
    // background-color: color(background, light);
    // }
  }

  td {
    padding: 0.5rem;
  }
}