// @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Open+Sans&family=Prompt&display=swap');
.VulnerabilitiesTitle {
  text-align: left;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 5px;

  @media screen and (max-width: $breakpoint-lg),
  (max-width: $breakpoint-md),
  (max-width: $breakpoint-sm) {
    margin-top: 80px; 
  }
}

.ImagesContainer {
  display: flex;
  flex-direction: column;
}

.ImagesCardsView {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  margin: auto;
}

.button, .buttonLoad {
  background-color: #2351d1;
  text-shadow: 1px 1px 2px #2351d1;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  padding: 10px 24px;
  border-radius: 4px;
  outline: none;
  margin: 10px;
  cursor: pointer; 
}

.button {
  box-shadow: 1px 1px 10px #2351d1;
  &:hover {
    background-color: #9ab4fbc7;
  }
}

.buttonLoad {
  background-color: rgb(56, 52, 52);
}




