@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.wrapper {
  display: flex;
  flex-direction: column;
  margin: $default-page-margin;
}
.configurationsTitle {
  text-align: left;
}

// .hh {
//   margin-top: -35px;
//   margin-bottom: 40px;
//   font-weight: bolder;
//   padding-left: 5px;
// }

// .hh1 {
//   margin-top: 15px;
//   width: 50vw;
//   margin-left: 30px;
//   margin-bottom: 15px;
//   font-weight: bolder;
// }

.container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.connected {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 25px;
}

.middle {
  align-items: flex-start;
  display: flex;
  margin-top: 30px;
}


.margin {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  // flex-direction: row;  
  gap: 20px;
}


@media screen and (max-width: 1096px) {
  .hh1 {
    margin-top: 75px;
  }
}


.titleFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
}