.wrapper {
  margin: $default-page-margin;
  height: 100%;

  h2 {
    margin-bottom: 8px;
  }
  .iframeHeader {
    display: flex;
    align-items: end;
    margin-bottom: 1rem;
  }
}

.test {
  display: flex;
  flex-direction: column;
  height: 20px;
}

.test2 {
  display: flex;
}

.metricsTitle {
  margin-left: 10px;
  @media screen and (max-width: $breakpoint-lg),
  (max-width: $breakpoint-md),
  (max-width: $breakpoint-sm) {
    margin-top: 60px; 
  }
}

.snapshotWrapper {
  display: flex;
  justify-content: space-around;
  margin: $default-page-margin;
  height: 100%;

  .metricsTitle {
    text-align: left;
  }
  .iframeHeader {
    display: flex;
    margin-top: 30px;
  }
}
.iframeDiv {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  backdrop-filter: blur(4px);
}
.buttonDiv {
  display: flex;
  justify-content: center;
  margin: 10px;
  gap: 20px;
}
.button {
  background-color: #2351d1;
  text-shadow: 1px 1px 2px #2351d1;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 4px;
  outline: none;
  margin-left: 1rem;
  box-shadow: 1px 1px 10px #2d58cdc7;
  backdrop-filter: blur(4px);
  &:hover {
    background-color: #9ab4fbc7;
  }
}


.metrics {
  width: 100%;
  height: calc(100vh - (60px + 6rem));
  min-height: 20rem;
  border: 0px;
}

@media screen and (max-width: $breakpoint-uw),
  (max-width: $breakpoint-md),
  (max-width: $breakpoint-lg),
  (max-width: $breakpoint-sm) {
  .metrics {
    height: calc(100vh - (6rem));
  }
}

.switch[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle {
  cursor: pointer;
  text-indent: -9999px;
  width: 80px;
  height: 40px;
  background: rgb(90, 98, 206);
  display: block;
  border-radius: 100px;
  position: relative;
}

.toggle:after {
  content: '';
  position: absolute;
  top: 5px;
  // left: 5px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

// ************ FOR GETTING SNAPSHOTS ************

.switch:checked+.toggle {
  background: #bada55;
}

.switch:checked+.toggle:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.toggle:active:after {
  width: 30px;
}

.toast {
  visibility: hidden;
  min-width: 200px;
  //background-color: #2279f3;
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  position: fixed;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  animation: toastAnimation 3s forwards; 
}

.toast.visible {
  visibility: visible;
  opacity: 1;
}

@keyframes toastAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
