// VARIABLES
$criticalColor: rgb(255, 8, 0);
$highColor: #AD312D;
$medColor: #AE5944;
$lowColor: #D99166;
$negligible: #81876096;
$unknown: #59595996;

.summaryCard {
  border: 1px solid rgba(0, 0, 0, 0.301);
  border-radius: 20px;
  height: 30px;
  display: flex;
  box-shadow: 0 0 2px 2px rgba(11, 21, 30, 0.79);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.textColor {
  color: white;
  width: max-content;
  border-radius: 20px;
  font-weight: bold;
  margin-left: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
}

.critical, .high, .med, .low, .negligible, .unknown {
  background-color: $criticalColor;
  padding: 2px;
  // cursor: pointer;
}
.critical {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 10px;
  margin-right: 3px;
}
.high {
  background-color: $highColor;
  margin-right: 3px;
}

.med {
  background-color: $medColor;
  margin-right: 3px;
}

.low {
  background-color: $lowColor;
  margin-right: 3px;
}

.negligible {
  background-color: $negligible;
  margin-right: 3px;
}
.unknown {
  background-color: $unknown;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-right: 10px;
}


.percentagesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 100%;
}

.criticalPercent, .highPercent, .mediumPercent, .lowPercent, .negligiblePercent, .unknownPercent {
  background-color: $criticalColor;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.highPercent {
  background-color: $highColor;
}
.mediumPercent {
  background-color: $medColor;
}
.lowPercent {
  background-color: $lowColor;
}
.negligiblePercent {
  background-color: $negligible;
}
.unknownPercent {
  background-color: $unknown;
}

.boxPercent {
  display: flex;
  justify-content: space-evenly;
  width: max-content;
  align-items: center;
}

.percentNumber {
  color: rgba(222, 232, 248, 0.646);
}

// Loading Message while Scanning
.loadingMessage {
  text-align: center;
  color: rgba(255, 255, 255, 0.601);
  width: 100%;
}

.critical:hover,
.high:hover,
.med:hover,
.low:hover,
.negligible:hover,
.unknown:hover
.grayOut:hover,
.green:hover {
  filter: brightness(1.3);
}


