.summaryCard {
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.high {
  background-color: red;
}

.med {
  background-color: orange;
}

.low {
  background-color: yellow;
}